Massive.Interview.LoaderApp/Connected Services/Remote/LoaderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6555/LoaderService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6555/LoaderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Massive.Interview.Service.Contract" />
  <xs:element name="GetExistingNodeIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingNodeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetExistingNodeIdsResult" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Massive.Interview.Service.Contract" minOccurs="0" name="nodeinputs" nillable="true" type="q2:ArrayOfNodeInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>