Massive.Interview.LoaderApp/Connected Services/Remote/LoaderService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Massive.Interview.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Massive.Interview.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6555/LoaderService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfNodeInputData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeInputData" nillable="true" type="tns:NodeInputData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeInputData" nillable="true" type="tns:ArrayOfNodeInputData" />
  <xs:complexType name="NodeInputData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdjacentNodeIds" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeInputData" nillable="true" type="tns:NodeInputData" />
</xs:schema>